

.result-container{
  max-width: 500px;
  display: grid;
  justify-items: center;
  margin: 0 auto;
  .again-btn {
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 12px;
  }
}



